html {
    height: 100%;
    background-color: white;
}

body {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(48, 107, 88);
}
.main {
    position: relative;
    margin: 10% 20%;
    background-color: rgb(127, 255, 212);
    border: 10px solid rgb(255, 208, 0);
}
.container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 500px;
}
.numbers {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
}
.operators {
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

button {
    margin: 7%;
    color: rgb(212, 174, 1);
    transition-duration: 100ms;
}

button.number:hover, button.operator:hover, button.fancy:hover {
    background-color: rgb(127, 255, 212);
}

div.textcontainer {
    height: 80px;
    margin: 2%;
    background-color: white;
    text-align: right;
}

button, div.textcontainer {
    border: 3px solid rgb(48, 107, 88);
    border-radius: 10px;
}

.textarea2{
    font-size: 50%;
    text-align: left;
    vertical-align: bottom;
    height: 40%;
    margin: 0;
}
.textarea {
    margin: 2% 0 0 0 ;
}

button.number {
    background-color: rgb(146, 142, 151);
}
button.operator {
    background-color: rgb(0, 255, 255);
}
button.fancy {
    background-color: rgb(255, 251, 0);
}
#sign {
    font-size: 10pt;
    text-align: right;
    margin: 3pt 0 0 0;
}

@media only screen and (max-device-width: 480px) {
    .main {
        margin: 0;
    }
}