.container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 500px;
    margin: 0 auto;
    background-color: aquamarine;
}


.numbers {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
}
.operators {
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

button {
    margin: 15px;
    font-size: 20px;
}


